body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/002/723/895/large_2x/modern-background-with-fluid-shape-pastel-color-and-hand-draw-line-on-blue-pastel-background-flat-minimal-design-free-vector.jpg');
  background-repeat: repeat,;
  background-size: cover;
  font-family: 'Kanit', sans-serif;
}

header {
  background-color: black;
  color : white;
  height: 70px;
  padding: 10px;
  text-align: center  ;
}

footer {
  background-color: black;
  color : white;
  height: 70px;
  padding: 10px; 
  text-align: center;
}
.mainpage 
  {
      width: 1024px; 
      margin: 0 auto;
  }
.headname1
{
  color: rgb(rgb(0, 174, 255);
  font: size 30px; ;
}
headname2
{
  color:rgb(rgba(72, 255, 0, 0.418);

}
.graphic{
background-image:url("images/chanthaburi-cover.jpeg");
height:320px;
padding:auto;
}
.maps
{
  border: 1px slateblue;
}
.top10
{
  background-color: beige;
  padding: 10px;
}
.img10{
  width: 190px;
  border-radius: 10px;
}